.browse-categories {
    margin-bottom: 30px;
}

h6 {
    font-weight: 700;
    text-wrap: nowrap;
    display: block;
    align-items: center;

}

.section-2-seperator {
    width: 25vw;
    display: block;
    height: 2px;
    margin-left: 10px;
    background-color: gray;
}

.section-2 {
    flex-direction: column;
}

.browse-cards {

    margin-bottom: 20px;
    font-size: 15px;
    text-wrap: nowrap;
    font-weight: bold;
    border: none;



}

.browse-cards:hover {
    cursor: pointer;
}

.browse-cards img {
    
    border-radius: 0;


}

